page-start-trip {
    agm-map {
        height: 40vh;
      }
      .addressBar{position: absolute;}
      .addressBar.positionAb{visibility: hidden}
    .card-subtitle{ padding-bottom:.8rem }
    .card-subtitle h2,
    .card-title h2{ color:#8a2be2;}
    .card-subtitle h2,
    .card-title h2{ font-weight: bold; width: 22vw; float: left;}
    .card-subtitle p,
    .card-title p{ width: 80vw;}
    .starRating{ color: red}
	.addressParty{ color:#9E9E9E;}
	 .tripDetail{padding: .5rem;    text-transform: uppercase;    background: #f1f1f1;    border: 1px solid #ccc; margin:.5rem}
}
