page-current-booking {
    .bookingSummary{}
    .bookingSummary p{ padding-bottom:.5rem; padding-left:3rem;}
    .bookingSummary p .icon{      margin-left: -3rem;    float: left;    margin-top: .5rem;    }
    .label{color:#ff9800; font-weight:700; text-transform: uppercase;}
    }
    